/* css */
.face {
    width: 200px;
    height: 300px;
    border-radius: 50%;
    background-color: bisque;
    position: absolute;
    margin-top: 30px;

}

.eyes {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.eye {
    background-color: blue;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-top: 80px;

}

.nose {
    width: 30px;
    height: 80px;
    background-color: rgb(204, 182, 149);
    margin: 0 auto;
    border-radius: 10%;
}

.mouth {
    width: 80px;
    height: 15px;
    background-color: red;
    margin: 20px auto;
    border-radius: 20%;
}

.iris {
    margin: 5px auto;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: aqua;
}

.iris.small {
    width: 30px;
    height: 30px;
    background-color: aquamarine;
    padding: 5px 0;
}

.pupil {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: black;
    margin: 0 auto;
}

.leftear,
.rightear {
    background-color: black;
    height: 100px;
    width: 60px;
    border-radius: 35%;
    margin-top: 100px;
}

.leftbar,
.rightbar {
    background-color: black;
    transform: rotate(30deg);
    height: 150px;
    width: 30px;
    border-radius: 100px 0 0;

}

.middlebar {
    background-color: black;
    height: 30px;
    width: 100px;
    margin-top: 10px;
    border-radius: 100% 100% 0 0;

}

.rightbar {
    border-radius: 0 100px 0 0px;
    transform: rotate(-30deg);
}

.headphones {
    display: flex;
    width: 500px;
    margin-bottom: 250px;
    z-index: 10;
    justify-content: center;
}

.portrait{
    display: flex;
    justify-content: center;
}